@font-face {
  font-family: 'Gotham Black';
  src: url(../src//assets//fonts/gotham-black.woff2);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(../src//assets//fonts/gotham-bold.woff2);
}
@font-face {
  font-family: 'Gotham Book';
  src: url(../src//assets//fonts/gotham-book.woff2);
}
@font-face {
  font-family: 'Gotham Light';
  src: url(../src//assets//fonts/gotham-light.woff2);
}


body {
  background-color: #f1f1f1;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
  margin-bottom: 50px;
}

header > img {
  height: 60px;
}